body{
    text-align: center;
}

.pps{
    background-color: #3d4180;
    color: white;
}

.profile{
    width: 30%;
    border-radius: 50%;
    padding-bottom: 0.75rem;
}

.container__profile{
    padding-top: 2rem;
    padding-bottom: 0.75rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
    text-decoration: none;
}

.sn{
    color: black;
}